.drawer nav {
  background-color: blueviolet;
}
.drawer .close {
  background-color:azure;
}
.drawer nav a,  .drawer nav a:visited {
  color:azure
}

.drawer nav a .button {
  background-color: blueviolet;
  background: transparent;
}